body{
    font-family: '', sans-serif;
  }
  .jumbotron-odi-hero{
  padding: 0rem 0rem;
   position: relative;
   max-width: 100%;
   
  }
  .jumbotron-odi-dark{
   max-width: 100%;
   padding: 0px;
   
  }
  
  .jumbotron-overlay {
   height:100%;
   padding: 100px 0;
   color:#fff;
   
  }
  .jumbotron-padding{
   padding-top: 6rem;
   
  }
  
  .btn-circle {
     border-radius: 30px;
  }
  
  .latest-news {
   border-bottom: .25rem solid transparent;
   border-bottom-color: #007bff;
  }

  .gonsa3titulo{
      font-size: 30px;
      color: #ffffff;
      padding-right: 20px;
      font-weight: 800;
  }